*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono',static;
}

.navbar{
    background: #382117;
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top:0;
    z-index: 999;
}

.navbar__container{
    display:flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin:0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: #E2D9D2;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;

}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #fff;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    width: 100%;
}

.navbar__toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f9f9f96a;
    color:#fff;
    width: 100%;

}

.button:hover{
    background: #D0C8B3;
    transition: all 0.3s ease;
}
.navbar__links:hover{
    color: #D0C8B3;
    transition: all 0.3s ease;
}

@media screen and(max-width: 960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0%;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #fff;

    }

    .navbar__menu .active{
        background: #fff;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }
    
    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item{
        width: 100;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width:100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;        
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}
.main{
    background-color: #382117;
}

.main__container{
    background-image: url('images/iStock-2048596716.jpg');
    background-size: cover; 
    background-position: center;

    display: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    max-width: auto;
    padding: 0 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.266);
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.main__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
}
.main__content h1 {
    font-size: 8rem;
    background-color: #382117;
    background-image: linear-gradient(to top, #382117 0%, #f9f9f96a 100% );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.main__content h2 {
    font-size: 2rem;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f96a 0%, #f9f9f96a 100% );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.main__btn {
    font-size: 1rem;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    background-color: #f9f9f99d;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #382117;
    text-decoration: none;
}
.main__btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #D0C8B3;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover{
    color: #fff;
}
.main__btn:hover:after{
    width: 100%;
}

main__img--container{
    text-align: center;
}

section{
    background-color: #382117;
    padding: 100px;
    height: 200vh;
}
@media screen and (max-width: 960px) {
    .menu {
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: flex;
    }

    .menu.active {
        display: flex;
    }
}
.slider_page{
    background-color: #382117;
    padding: 100px;
    height: 100vh; 
}
#slider {
    width: 55%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding: 50px 0;
    background: #382117;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

.slide img {
    width: 100%;
    vertical-align: middle;
}

.slide p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}
button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
main {
    padding: 60px 20px 20px 20px;
    text-align: center;
}

.content-section {
    height: 100%;
    background-color: #D0C8B3;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.content-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border: 2px solid #fff;
}

.content-text {
    text-align: left;
}

.about-section {
    padding: 60px 20px;
    text-align: center;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #382117; 
    padding: 40px;
    border-radius: 10px;
}

.giris {
    color: #D0C8B3;
}

.hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hobby {
    background-color: #D0C8B3;
    color: #382117;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hobby img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.hobby h2 {
    margin: 15px 0;
}

.hobby p {
    font-size: 16px;
}

.hobby a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #382117;
    font-weight: bold;
}

.hobby a:hover {
    text-decoration: underline;
}


#hobilerim {
    padding: 1em;
}

.film {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    text-align: center;
}

.film img {
    max-width: 100%;
    height: auto;
}
.login-container {
    display: none; 
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto; 
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin: 10px 0 5px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}
form {
    max-width: 400px;
    margin: 0 auto;
}

div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
